html {
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.container p {
  color: rgb(12, 12, 12);
}

.selection{
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.selection-box{
  line-height: 1.7;
  font-size: 100%;
  background-color: #cb985d;
  border: 2px solid rgb(146, 136, 136);
  padding: 30px;
  margin-top: 20px;
  border-radius: 4px;
}

.selection img{
  width: 100% ;
  height: 80vh ;
  margin: 0 auto;
  padding: 20px;
}


/* Header Styles */
header {
  text-align: center; /* Updated to center align the content */
  color: black;
  padding: 20px;
  background-color: rgba(195, 121, 72, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 32px;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Updated to center align the navigation links */
}

.site-nav li {
  display: inline-block;
  background-color: rgba(208, 130, 57, 0.3);
  padding: 40px;
  margin-right: 10px;
  border: #555050;
  border-radius: 8px 4px 8px 4px;
  transition-property: all;
  transition-duration: 2s;
}

.site-nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.site-nav li:hover {
  background-color: #e69437;
  color: #FFF;
}

/* Content Styles */
h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

p {
  color: black;
  line-height: 1.5;
}
.slide{
  overflow: hidden;
  display: inline-block;
  width: 100%;
  position: relative;
}

.slide img {
  display: block;
  width: 100%;
  height: 50vh;
  margin-bottom:auto;
}

.slide-text {
  position: absolute;
  left:0;
  bottom: 0;
  color:#FFF;
  width: 100% ;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-left: 20px;
  background-color: rgba(0,0,0,0.2);
}



.slide h3{
  margin: 0;
}

.slide p{
  color: #FFF;
}

.cycle-prev, 
.cycle-next {
  position: absolute;
  top: 30%;
  background-color: #cb985d ;
  color: #555050;
  padding: 1px 10px;
  display: block;
  cursor: pointer;
  font-size: 130%;
  z-index: 1000;
  transition: all 3s;
  opacity: 0.5s;
  margin-left: 20px;
}

.cycle-next{
  right: 0;
}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
  opacity: 1;
}

.cycle-pager{
  position: absolute;
  top: 20px;
  z-index: 1003;
  width: 100%;
  text-align: center;
}

.cycle-pager span{
  text-indent: -999px ;
  display: inline-block ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e69437 ;
  margin: 10px 10px;
  cursor: pointer;
}

.cycle-pager .cycle-pager-active{
  background-color: #000;
}

.btn-a{
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #9a521f;
  color: #f3e9e9 ;
  font-size: 84%;
  margin-left: 10px;
}

.btn-a:hover{
  background-color: #FFF;
  color: grey;
}

@media screen and (max-width:767px){
  .slide-text{
    position: static;
    background-color: #000 ;
  }

}

@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }

  .site-nav a {
    font-size: 16px;
  }
}