
html{
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
  }

  .container p{
    color: black;
  }

  .container img{
    display: block;
    width: 20%;
    height: 20vh;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    margin: auto;
    margin-top: 100px;
  }

  .image-transform{
    transform:rotate(5deg) scale(1.5) skewX(5deg);
    margin: 40px;
  }

  /* Header Styles */
  /* Header Styles */
header {
  text-align: auto;
  color: black;
  padding: 20px;
  width: 1360px;
  background-color: rgba(177, 93, 38, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
}

  h1 {
    margin: 0;
    font-size: 32px;
  }

  .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .site-nav li {
    display:inline-block;
    background-color: rgba(208, 130, 57, 0.3) ;
    padding: 40px;
    margin-right: 10px;
    border: #555050;
    border-radius: 8px 4px 8px 4px;
    transition-property: all;
    transition-duration: 2s;
  }
  
  .site-nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .site-nav li:hover{
    background-color: #e69437;
    color: #FFF;
  }
  
  /* Content Styles */
  .content-area {
    margin-top: 40px;
  }
  
  .box-a {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-color: #0b243b;
    border-radius: 8px 4px 8px 4px;
    box-shadow: inset 5px 10px 5px rgba(225, 123, 50, 0.1), 5px 10px 5px rgba(225, 123, 50, 0.1);
  }
  
  .selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
  }
  
  p {
    color: black;
    line-height: 1.5;
  }
  
  .image-banner{
    overflow: hidden;
    width: 400px;
    display: block;
    margin:0 auto;
    transition: all 3s;
  }
 
  .image-banner img {
    display: block;
    max-width: 100%;
  }

  .image-banner img:hover {
    transform: scale(1.5);
  }
 
  .banner-description{
    opacity: 0;
    transform: translateY(100%);
    transition-property: all ;
    transition-duration: 1s;
    align-self: end;
    color: #FFF;
    background-color: rgba(253, 249, 245, 0.5);
    font-size: 0.85rem;
    line-height: 1.7;
    padding: 20px;
  }
  
  .image-banner:hover .banner-description{
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes slidespin{

    0%{
      opacity: 0;
      transform:translateY(-200%);
    }
    40%{
      transform: translateY(0);
    }
    55%{
      transform: translateY(-6px);
    }
    70%{
      opacity: 1;
      transform: translateY(0);
    }
    85%{
      transform:translateY(-3px)
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  .box-a{
    opacity:0;
    animation: slidespin 1s forwards ;
  }

  .boxes :nth-child(2) .box-a {
    animation-delay:0.5s ;
  }
  .boxes :nth-child(3) .box-a {
    animation-delay: 1s;
  }
  .boxes :nth-child(4) .box-a {
    animation-delay: 1.5s;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 26px;
    }
  
    .site-nav a {
      font-size: 16px;
    }
  }
  
  