html {
    background-color: #e6df8a49;
}

body {
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

img{
    max-width: 100%;
    height: auto;
}
.container {
    width: 700px;
    background-color: #FFF;
    margin:0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){
    .container{
        display: block;
        padding-left: 5px ;
        padding-right: 5px;
    }
}

header {
    padding-top: 20px;
     color: #2a1c09;
     text-align:left;
 }

 header h2{
     color: #815d2e;
 }

 header h1 {
     height: 100px;
     margin: 0;
     text-align: center;
     padding-top: 50px;
     background-image: url(../images/fores.jpg);
     background-position: center center;
     background-size: cover;
 }

 header p {
     margin: 5px;
     text-align: left;
 }

 .site-nav {
     margin-top: 20px;
 }

 .site-nav ul {
     margin: 0;
     padding: 0;
 }

 .site-nav li {
     list-style: none;
     display: block;
 }

 .site-nav a {
     display: block;
     text-decoration: none;
     color: #837025;
     padding: 10px 20px;
     border: 3px solid grey;
     margin-bottom: 5px;
 }

 .site-nav a:hover {
     background-color: rgb(240, 217, 164);
 }

@media screen and (max-width: 700px){

    .site-nav li{
        width: 33.33%;
        margin-right: 0;
    }
     .site-nav a{
        padding: 15px 0 ;
        margin-right: 5px ;
        margin-bottom: 5px;
        text-align: center ;
     }
}

@media screen and (max-width: 480px){
    .site-nav li
    {
        width: 50%;
    }
}




 .box-a{
    background-color: #a09264;
    background-image: linear-gradient(to bottom, #a28657,#fff);
    padding: 30px;
    border: 1px solid grey;
    margin-bottom: 20px;
 }
 .content-area {
     border-top: 3px solid rgb(69, 66, 66);
     border-bottom: 3px solid rgb(69, 66, 66);
 }

 table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

 }
  table th{
    text-align: left;
    color: #FFF;
    background-color:#a28657;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
  }


table th,
table td{
    border: 1px solid #999;
    padding: 20px;
    vertical-align: top;
    
}

table tbody tr:nth-child(even)td{
    background-color: #74601e;
}

table tr :nth-child(2),
table tr :nth-child(3){
    text-align: center;
   
}

.col-item-name{
    width: 60%;

}

.col-quantity,
.col-price{
    width: 20%;
}


form{
    background-color: #ececec;
    padding: 30px 40px;
}
input{
    font-family: Tahoma, sans-serif ;
    font-size: 100%;
}

input[type="email"],
input[type="password"],
select {
    width: 100%;
    height: 40PX;
    padding: 0 10px;
    display: block;
    border:1px solid #cdcdcd ;
    margin-bottom: 20PX;
    margin-top: 20px;
    outline: none;                                                                   
    box-sizing:border-box;                                                           /* for allignment with other box and text */
}

input[type="email"]:focus,
input[type="password"]:focus{
    border: 1px solid rgb(234, 245, 163);
    box-shadow:inset 2px 2px 2px rgb( 0, 0, 0, .13);
}

input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    color:#FFF;
    padding: 10px 0 ;
    background-color: #a09264;
    border: 3px solid grey;
    border-radius: 2px;
}

 .main area {
     width: 640px;
     float: left;
 }
 
 @media screen and (max-width: 700px)
 {

    .main area{
        width:auto;
        float: none;
        padding-right:0;
    }
 }
.image-banner{
    position: relative;
    left: auto;
    top: auto;
}

.image-banner img{
    display: block;
}

.banner-description{
    display: block;
    position: absolute;
    color: #617140;
    background-color: rgba(0, 0, 0, .65);
    padding:15px 25px;
    color: #FFF;
    bottom: 0;
    left: 0;
}

 footer {
     text-align: center;
     color: #999;
 }
